<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cgd103/g2/front
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /cgd103/g2/front/index.html [L]
</IfModule>