$main_color: #495bff;
$second_color: #eceeff;
$third_color: #fff;

$bg_white: #fff;
$bg_violet: #eceeff;

$secondary: #ebebeb;
$bg_blue: #eceeff;
$bg_gray: #f1f1f1;
$title_color: #292929;
$text_color: #444444;

$main_font: "Noto Sans TC", sans-serif;

$line :1px;

.btn_s {
    min-width: 70px;
    outline: none;
    border: none;
    background-color: $main_color;
    color: #fff;
    height: 45px;
    padding: 10px;

    &:hover {
        background-color: $second_color;
        color: $main_color ;
        border: 2px solid $main_color;
        cursor: pointer;
    }
}

* {
    font-family: $main_font;
}

//按鈕大顆


.btn_l {
    border: $line solid $main_color;
    background-color: $second_color;
    color: $main_color ;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    min-width: 70px;
    height: 45px;
    padding: 10px;

    &:hover {
        background-color: $second_color;
        color: $main_color ;
        border: $line solid $main_color;
        cursor: pointer;
    }

}

//按鈕小顆
.btn_ms {
    background: $bg_white;
    color: $main_color;
    padding: 10px 12px;
    border: $line solid $main_color;
    box-sizing: border-box;
    min-width: 80px;

    &:hover {
        background-color: $second_color;
        color: $main_color ;
        border: $line solid $main_color;
        cursor: pointer;
    }
}

//按鈕小顆灰色
.btn_ml {
    background: $main_color;
    color: white;
    padding: 10px 12px;
    border: $line solid $main_color;
    box-sizing: border-box;
    min-width: 80px;

    &:hover {
        background-color: $second_color;
        color: $main_color ;
        border: $line solid $main_color;
        cursor: pointer;
    }
}

.btn_mgs {
    background: $text_color;
    color: white;
    padding: 10px 12px;
    border: $line solid $text_color;
    box-sizing: border-box;
    min-width: 80px;

    &:hover {
        background-color: $bg_gray;
        border: $line solid $title_color;
        color: $title_color ;
        cursor: pointer;
    }
}

.btn_mgl {
    background: white;
    color: $title_color;
    padding: 10px 12px;
    border: $line solid $text_color;
    box-sizing: border-box;
    min-width: 80px;

    &:hover {
        background-color: $bg_gray;
        border: $line solid $title_color;
        cursor: pointer;
    }
}